In [ ]:
# design spiral star
import turtle as t
a=t.Turtle()
a.pencolour('blue')
for i in range(50):
    a.forward(i*10)
    a.left(144)
t.done()

In [ ]:
# design spiral square
import turtle as t
a=t.Turtle()
a.pencolor('blue')
for i in range(500):
    a.forward(i)
    a.left(91)
t.done()

In [ ]:
# design hexagon
from turtle import * 
pencolor('blue')
colors=['blue','green','red','yellow','orange','purple']
for i in range(360):
    pencolor(colors[i%6])
    width(i/100+1)
    forward(i)
    left(59)

In [ ]:
# design circle
from turtle import *
pensize(20)
pencolor('blue')
fillcolor('purple')
begin_fill()
circle(100)
end_fill()

In [ ]:
# design TAngent circle
from turtle import *
pensize(2)
pencolor('orange')
for i in range(15):
    circle(10*i)

In [ ]:
# design Spiral circle
from turtle import *
pensize(2)
pencolor('orange')
for i in range(100):
    circle(10+i,45)

In [ ]:
# design circle
from turtle import *
pensize(2)
colors=('orange','green','red','blue','yellow','purple')
for i in range(30):
    pencolor(colors[i%6])
    circle(10*i)
    up()
    sety((10*i)*(-1))
    down()

In [ ]:
# design Olympics logo
from turtle import *
pensize(6) # Set the pencsize to 6 pixels
r1=["blue","black","red"]
for i in range(3):
    penup()
    pencolor(r1[i%3])
    goto(i*100,0)
    pendown()
    circle(45)
r2=["","yellow","","green"]
for i in range(1,4,2):
    penup()
    pencolor(r2[i])
    goto(i*55,-55)
    pendown()
    circle(50)

In [ ]:
# design Audi logo
from turtle import *
pensize(6) # Set the pencsize to 6 pixel
pencolor('black')
for i in range(4):
    penup()
    goto(i*70,0)
    pendown()
    circle(50)

In [ ]:
# car
from turtle import *
bgcolor('green')
color('#2B28F6')
fillcolor('#2B28F6')
penup()
goto(0,0)
begin_fill()
forward(570)
left(90)
forward(80)
left(90)
forward(570)
left(90)
forward(80)
end_fill()

#code for drawing and roof
pensize(6)
penup()
goto(100,50)
pendown()
setheading(45)
forward(100)
setheading(0)
forward(250)
setheading(-45)
forward(100)
setheading(90)
penup()
goto(300,50)
pendown()
forward(75)

# code for drawing two typres
penup()
goto(200,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()
penup()
goto(400,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()

### Idiomatic Python
- transformation Code int beautiful, idiomatic Python
- replaces traditional index manipulation with Python code looping idioms

In [2]:
# looping over the collection
li=[1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=' ')
print()
# pythonic way
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [1]:
# looping over a range of number
for i in [0,1,2,3,4,5]:
    print(i**2,end=' ')
print()
# pythonic way
for i in range(6):
    print(i**2,end=' ')

0 1 4 9 16 25
0 1 4 9 16 25

In [3]:
# looping from backwards
li=[1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
#pythonic way
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [5]:
# looping over the collection with index
li=[1,2,3,4,5]
for i in range(len(li)):
    print(i,'-->',li[i])
print()
# pythonic Way
for i,a in enumerate(li):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [1]:
# looping in sorted order
# pythonic -way
li=[8,1,25,16,9,2]
for i in sorted(li):
    print(i,end=' ')
print()
for i in sorted(li,reverse=True):
    print(i,end=' ')

1 2 8 9 16 25
25 16 9 8 2 1

In [12]:
# dictionary
d={'Name':'Gitam','EmailID':'gitamhotmail@gmail.com','Address':'vizag'}
for k in d:
    print(k,end=' ')
print()

Name EmailID Address

In [14]:
for k in d.keys():
    if k.startswith('A'):
        del d[k]

In [15]:
print(d)

{'Name': 'Gitam', 'EmailID': 'gitamhotmail@gmail.com'}

In [16]:
for k in d.values():
    print(k,end=' ')

Gitam gitamhotmail@gmail.com

## list comprehensions

In [22]:
# Traditional Approach
li=[]
for i in range(10):
    a=i**2
    li.append(a)
    
print(sum(li))
print()
# pythonic way
print(sum(i**2 for i in range(10)))

285

285

In [3]:
def filterlist(li):
    a=[]
    for i in li:
        if i%2==0:
            a.append(i)
    return a
li=[1,2,3,4,5,6,7,8]
filterlist(li)

[2, 4, 6, 8]

In [5]:
# lambda with filter operator
li=[1,2,3,4,5,6,7,8]
lam_li=list(filter(lambda x :(x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

###  Lambda with map()
- map() function in python takes in a function and list as argument

In [9]:
def squarelist(li):
    a=[]
    for i in li:
        a.append(i*2)
    return a
li=[1,2,3,4,5,6,7,8]
squarelist(li)

[2, 4, 6, 8, 10, 12, 14, 16]

In [10]:
li=[1,2,3,4,5,6,7,8]
map_list=list(map(lambda x:x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

### Lamda with reduce

In [14]:
# functional approach
def sumlist(li):
    s=0
    for i in li:
        s+=i
    return s
li=[1,2,3,4,5,6,7,8]
sumlist(li)

36

In [12]:
# lambda with reduce
from functools import reduce
li=[1,2,3,4,5,6,7,8]
s=reduce((lambda x,y:x+y),li)
print(s)

36

### Standard Package
### Pandas,Numpy and Matplotlib

### Pandas 
- Data cleaning
- Data Transformation
- Data Analysis
#### Notations
- Series
    - A series is a one-dimensional object that can hold int,float and string
- Dataframes
     - A dataframe is a 2 dimensional object

In [23]:
import pandas as pd
internal1={'s1':35,'s2':45,'s3':55}
internal2={'s1':25,'s2':15,'s3':365}
internal1=pd.Series(internal1)
internal2=pd.Series(internal2)
print(internal1)
print(internal2)

s1    35
s2    45
s3    55
dtype: int64
s1     25
s2     15
s3    365
dtype: int64

In [24]:
final={'Internal1':internal1,'Internal2':internal2}
final=pd.DataFrame(final)
print(final)

    Internal1  Internal2
s1         35         25
s2         45         15
s3         55        365

In [25]:
final.columns # Returns the name of column

Index(['Internal1', 'Internal2'], dtype='object')

In [26]:
final.values #Returns all row values in 2 dimensional array

array([[ 35,  25],
       [ 45,  15],
       [ 55, 365]], dtype=int64)

In [27]:
final.values[1]

array([45, 15], dtype=int64)

In [29]:
final.values[2][0]= 350 # Update the Dataframe values

In [30]:
final.values

array([[ 35,  25],
       [ 45,  15],
       [350, 365]], dtype=int64)

In [32]:
for row in final.values:
    print('internal1-',row[0],'internal2-',row[1])

internal1- 35 internal2- 25
internal1- 45 internal2- 15
internal1- 350 internal2- 365

In [33]:
final.loc['s4']=[20,18]
final

    Internal1  Internal2
s1         35         25
s2         45         15
s3        350        365
s4         20         18

In [5]:
pwd

'C:\\Users\\Admin\\Desktop\\problem solving & programming\\day 5(20-09-19)'

### Reading the csv
- To read the csv file from the local

In [12]:
import pandas as pd
filepath='C:/Users/Admin/Desktop/problem solving & programming/Datafiles/Income.csv'
def readCsvData(filepath):
    return pd.read_csv(filepath)
df=readCsvData(filepath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [24]:
pwd

'C:\\Users\\Admin\\Desktop\\problem solving & programming\\day 5(20-09-19)'

In [13]:
def avgofState():
    s=0
    for i in range(2,11):
        s+=df.values[4][i]
    return s//len(df.values[4][2:])
avgofState()

55350

In [15]:
def printDataFrameColumns(df):
    li=[]
    columns=df.columns
    for i in columns:
        li.append(i)
    return li
printDataFrameColumns(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [16]:
#To know the len of rows and columns --- shape
df.shape

(5, 11)

In [18]:
df.tail()

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [17]:
df.head()

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528